# For unit testing
pytest
nbval

# For Databricks CLI interaction
databricks-cli

#  If using Python notebooks or REST API scripting
requests

# If using notebooks and deploying them
databricks-sdk

# If code uses pandas, numpy, etc., include them too
pandas
numpy